:root {
    --main-theme-color: #E5B7ED;
    --window-header-color: #E5B7ED;
    --main-theme-background-color: #1f1f1f;
    --background-font-color: #E5B7ED;
    --accent-color: #f1edac;
    --notebook-bg-image: url(https://images.unsplash.com/photo-1629196914168-3a2652305f9f?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHVycGxlJTIwcGFwZXJ8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000);
    --todo-list-bg-image: url(https://i.pinimg.com/736x/24/ce/20/24ce20015e788d39c0006d219c9c4dbe.jpg);
    --clock-bg-image: url(https://cdn.wallpapersafari.com/37/96/thwpNs.png);
    --font-color: #1f1f1f;
    --red: #e12424;
    --pressed-red: #bd1515;
    --border: 2px solid black;
    --inner-border: 1px solid black;
    --block-height: height: calc(100% - 55px);
    --chibbidibbey-appearance: url(https://i.pinimg.com/originals/21/db/d3/21dbd346a371c5bceffd6d61e491c3b0.gif);
    --windows-gap: 0px;
    --content-border-radius: 5px;
    --box-shadow: none;
    --window-container-background: #fff;

    --embroidery: url(https://i.pinimg.com/1200x/7e/1d/8b/7e1d8bf3f2acd999cd60ea16e2c08c2c.jpg);
}

@font-face {
    font-family: "Digital Upscaled Pixel";
    src: url(assets/DigitalUpscale-Regular.otf) format("opentype");
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    transition: 0.5s background;
}

button:focus, textarea:focus {
    outline: none;
}

body {
    font-family: Consolas, Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.windows-container {
    position: relative; 
    width: 100vw;
    height: calc(100vh - 30px);
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: var(--windows-gap);
    background: var(--todo-list-bg-image);
    background-size: cover;
}

.top-menu {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-theme-background-color);
    position: relative;
    color: var(--background-font-color);
    padding: 10px;
}

.top-menu-button {
    font-size: 12px;
    color: var(--background-font-color);
    cursor: pointer;
    background: none;
    border: none;
    font-weight: 900;
}

.window-options {
    position: fixed;
    height: 80%;
    right: 0;
    display: block;
    background-color: white;
    margin: -1px;
    z-index: 100;
    width: 350px;
    opacity: 1;
    transition: opacity 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow-y: scroll;
    overflow-x: hidden;
}

.window-options h3 {
    text-align: center;
    margin: 2px auto;
}

.options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.options-grid button {
    border: var(--border);
    border-radius: 0;
    padding: 15px 35px;
    margin: -1px;
}

.menu-description {
    padding: 10px;
}

.window {
    background-color: var(--main-theme-color);
    border: var(--inner-border);
    transition: 1s width;
    color: var(--font-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--content-border-radius);
}

.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--window-header-color);
    padding: 5px 8px;
    border-bottom: var(--border);
    border-radius: var(--content-border-radius);
}

.window-title {
    font-weight: bold;
}

.window-content {
    padding: 5px;
    height: calc(100% - 51px);
    width: 100%;
}

.window-close {
    border: var(--border);
    border-radius: var(--content-border-radius);
    background: transparent;
    font-size: 15px;
    line-height: 15px;
    margin: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: var(--font-color);
    width: 40px;
    height: 40px;
    font-family: "Digital Upscaled Pixel", sans-serif;
}

.small-close-button {
    font-size: 10px;
    border-radius: var(--content-border-radius);
    outline: none;
}

.small-close-button:active {
    background-color: var(--accent-color);
    color: var(--font-color);
}

.window-close:hover {
    background-color: var(--red);
    border-color: black;
    color: white;
}

.window-close:active {
    background-color: var(--pressed-red);
    color: cornsilk;
}

.picture-block {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    border: var(--border);
    border-radius: var(--content-border-radius);
    box-sizing: border-box;
    
}

.picture-src-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.set-picture-button {
    padding: 10px;
    font-size: large;
    border: 10px dotted var(--main-theme-color);
    border-radius: 5px;
    outline: none;
}

.set-picture-button:hover {
    border-color: var(--main-theme-color);
    color: whitesmoke;
    background-color: var(--main-theme-background-color);
}

.picture-src-url {
    width: 80%;
    padding: 10px;
    font-size: large;
    border: 10px dotted var(--main-theme-color);
    border-radius: 5px;
    outline: none;
}

.clock-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clock-bg-image);
    background-size: cover;
    background-position: center;
    border: var(--border);
    border-radius: var(--content-border-radius);
}

.time {
    color: white;
    text-shadow: 1px 1px 10px blueviolet;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10vw;
}

.notebook-textarea {
    width: 100%;
    height: 100%;
    border: var(--border);
    border-radius: var(--content-border-radius);
    padding: 10px;
    font-size: x-large;
    color: var(--font-color);
    background: var(--notebook-bg-image);
    background-size: cover;
}

.notebook-accessory {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 150px;
}

.empty {
    width: 100%;
    height: 100%;
    border: var(--border);
    border-radius: var(--content-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--window-container-background);
}

.settings-window {
    width: 60%;
    height: 60%;
    position: fixed;
    top: 15%;
    left: 20%;
    display: flex;
    flex-direction: column;
    z-index: 101;
    background: white;
    border: var(--inner-border);
    border-radius: var(--content-border-radius);
}

.settings-tabs {
    width: 40%;
    display: flex;
    flex-direction: column;
    border: var(--inner-border);
    border-radius: var(--content-border-radius);
}

.settings-tabs button {
    border-bottom: var(--border);
    border-radius: 0;
    background-color: white;
}

.settings-content {
    width: 100%;
    border: var(--inner-border);
    padding: 15px 20px;
    overflow-y: scroll;
}

@keyframes slush {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.file-menu {
    position: fixed;
    z-index: 101;
    right: 10px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    border: var(--inner-border);
    border-radius: var(--content-border-radius);
}

.menu-button {
    border: var(--inner-border);
}

.settings-tabs button:hover, .options-grid button:hover, .menu-button:hover {
    background: #ff002f;
    background: radial-gradient(circle,rgba(255, 0, 47, 1) 0%, rgba(119, 170, 206, 1) 70%, rgba(200, 255, 0, 1) 89%, rgba(243, 252, 70, 1) 100%);
    background-size: 400% 400%;
    animation: slush 4s ease infinite;
    color: whitesmoke;
}

.todo-list {
    border: var(--border);
    border-radius: var(--content-border-radius);
    padding: 5px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background: var(--todo-list-bg-image);
    font-size: 18pt;
    font-weight: normal;
}

.todo-item {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.empty-todo-area {
    width: 100%;
    height: 25px;
    cursor: pointer;
}

.checkbox {
    border: 2px solid var(--font-color);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    user-select: none;
    transition: all 0.2s ease;
}

.todo-content {
    margin-left: 10px;
    outline: none;
}

.checked {
    text-decoration: line-through;
    color: #1f1f1f55;
    animation: 0.5s checkmark-happy alternate-reverse ease-in;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(235, 241, 247, 0.38) 56%, rgb(183, 111, 212) 57%, rgba(255, 255, 255, 0) 61%);
    background-position: -100% 0%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
}

@keyframes checkmark-happy {
    from {
        background-position: -100% 0%;
    }

    to {
        background-position: 100% 0%;
    }
}

.themes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(5, 1fr);*/
}

.theme-button {
    margin: 2px;
    height: 70px;
    padding: 5px 5px 5px 20px;
    border: var(--border);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    background-position: center;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 0px 0px 5px #1f1f1f;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

.theme-button:hover {
    transform: translateX(5px)
}

.theme-button:active {
    transform: translate(5px, -5px);
}

.chibbidibbey-window {
    width: 100%;
    height: 100%;
    display: flex;
    container-type: size;
    align-items: flex-start;
    align-content: center;
    flex-wrap:  wrap;
    justify-content: center;
    overflow: auto;
}

.chibbidibbey-appearance {
    background-image: var(--chibbidibbey-appearance);
    min-height: 100px;
    min-width: 100px;
    height: 150px;
    width: 150px;
    max-height: 500px;
    max-width: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
}

.chibbidibbey-button {

    background-color: var(--accent-color);
    color: var(--font-color);
    border-radius: 5px;
    border: var(--border);
    outline: none;
    padding: 2px;
}

.chibbidibbey-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    max-width: max-content;
    min-width: min-content;
    text-align: center;
    column-gap: 5px;
    row-gap: 5px;
    line-height: 30px;
    vertical-align: middle;
}

.chibbidibbey-stats > * {
    flex-shrink: 2;
}

.chibbidibbey-stats input {
    width: 70px;
    height: 30px;
    outline: none;
    background: var(--main-theme-background-color);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.sparkle {
    position: fixed;
    z-index: 99;
    pointer-events: none;
    font-size: 20px;
    animation: sparkle 1.2s ease-out forwards;
    transform-origin: center;
}

.flying-burger {
    position: fixed;
    z-index: 21;
    pointer-events: none;
    width: 700px;
    animation: flying-burger-left 0.4s ease-in forwards;
}

@keyframes flying-burger-left {
    0% { transform: translate(0, 0) scale(1); }
    100% {  transform: translate(-200px, -200px) scale(0.3); }
}

@keyframes flying-burger-up {
    0% { transform: translate(0, 0) scale(1); }
    100% {  transform: translate(-100px, -300px) scale(0.3); }
}

@keyframes sparkle {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1) rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: translateY(-80px) scale(1.6) rotate(20deg);
    }
}

.name-sparkle { color: #313131}
.health-sparkle { color: #34d44f}
.boredom-sparkle { color: #ffc400}
.hunger-sparkle { color: #da6f42}
.happiness-sparkle { color: #ff4fa3; font-size: 30px;}

.divider {
    margin: 10px;
}

@container (min-aspect-ratio: 1/1) {
    .chibbidibbey-window {
        flex-direction: column;
    }
    .flying-burger{
        animation: flying-burger-up 0.4s ease-in forwards;
    }
}

@container (max-aspect-ratio: 1/1) {
    .chibbidibbey-window {
        flex-direction: row;
    }
    .flying-burger{
        animation: flying-burger-left 0.4s ease-in forwards;
    }
}

.highlight {
    animation: highlight-it 0.3s ease-in alternate-reverse;
}

@keyframes highlight-it {
    0% {
        transform: scale(1);
        text-shadow: 0px 0px 2px 0px var(--accent-color);
    }
    100% {
        transform: scale(1.2);
        text-shadow: 0px 0px 4px 0px var(--accent-color);
    }
}

.column-alignment {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.random-color-square {
    width: 50%;
    height: 50%;
    margin: 10px;
}

.random-color-code {
    text-align: center;
    padding: 5px;
    outline: none;
    background-color: #ffffff1f;
    border-radius: var(--content-border-radius);
    border: none;
    color: var(--font-color);
    width: min-content;
}

.idea-line {
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-content: center;
    width: 100%;
}

.idea-emoji {
    font-size: 50px;
    user-select: none;
}

.dice-cube {
    width: 205px;
    height: 205px;
    padding: 12px;
    border-radius: 25px;
    background-color: var(--accent-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.dice-cube * {
    width: 100%;
    height: 100%;
    font-size: 40px;
    text-align: center;
    user-select: none;
}

.rolling-dice {
    animation: rolling 3s ease-out;
}

@keyframes rolling {
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(1440deg); }
}

.pomodoro-window {
    width: 100%;
    height: 100%;
    padding: 10%;
}

.pomodoro-section {
    width: 100%;
    grid-column-start: span 2;
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: row;  

    color: var(--main-theme-background-color);
    font-size: 50px;
    font-weight: 900;
}

.work-time { background-color: #bd1515; }
.rest-time { background-color: lightseagreen; }

.pomodoro-button {
    height: fit-content;
    width: fit-content;
}

.fortune-cookie {
    width: 100px;
    height: 100px;
    background-color: #c0925d;
}

.fortune-cookie:active {
    animation: shake 0.3s ease-out infinite alternate-reverse;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(40deg);
    }
}

.toilet-paper-window {
    position: relative;
}

.toilet-paper-roll {
    height: 100px;
    width: 100px;
    background: linear-gradient(180deg,#efefef 0%, #e5e5e5 100%);
    /* background-image: url(https://st2.depositphotos.com/1071250/11326/i/950/depositphotos_113267414-stock-photo-single-paper-roll-isolated-on.jpg); */
    background-size: 600px;
    background-position: center;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px outset #efefef;
    transition: 0.5s;
    z-index: 10;
    position: absolute;
}

.toilet-paper-carton {
    height: 50px;
    width: 50px;
    background-color: #2c251b;
    border: 5px inset #866353;
    border-radius: 50%;
}

.toilet-paper-running-tail {
    height: 50%;
    border: none;
    background-color: #efefef;
    width: 2px;
    position: absolute;
    transition: 0.5s;
    top: 51%;
}

.youtube-video-window {
    width: 100%;
    height: 100%;
}

.embroidery-window {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 0.7s;
    background-image: var(--embroidery);
}

.profile-tab {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.user-profile-picture{
    width: 100px;
    height: 100px;
    border: var(--border);
}

.settings-tab-section {
    margin-bottom:40px;
    padding-left: 20px;
    border-left: 1px dotted lightgray;
}

.profile-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.achievements-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.achievement-item {
    width: 100%;
    height: fit-content;
    text-align: center;
    border-radius: var(--content-border-radius);
    padding: 10px;
    border-radius: 5px;
}

.achievement-item img {
    width: 40px;
    height: 40px;
}

.achievement-item:hover {
    box-shadow: 0px 3px 5px 0px rgba(128, 128, 128, 0.395);
}

.achievement-item:hover img {
    animation: rotate-horizontally 2s ease-in-out;
}

@keyframes rotate-horizontally {
    0% { transform: rotateY(0deg) rotateZ(0deg); }
    100% { transform: rotateY(360deg) rotateZ(360deg); }
}

.cooking-timer {
    background-color: rgb(255, 217, 0);
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #1f1f1f;
}

.cooking-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height: 95%;
}

.cooking-tile {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 15px;
    align-items: center;
    width: 85%;
    height: 85%;
    border-radius: 40px;
    transition: 0.2s;
    justify-content: center;
    cursor: pointer;
}

.cooking-tile:hover {
    box-shadow: 0px 5px 5px 1px rgba(62, 58, 19, 0.347);
    transform: translateY(-5px);
}

.cooking-tile:active {
    box-shadow: 0px 2px 1px 1px rgba(62, 58, 19, 0.347);
    transform: translateY(0px);
}

.cooking-tile img {
    width: 200px;
}

.links-window {
    border: var(--inner-border);
}

.url-shortcut {
    padding: 20px;
    margin: var(--windows-gap);
    border: var(--inner-border);
    border-radius: var(--content-border-radius);
    background-color: var(--main-theme-color);
    width: 100%;
    display: block;
    font-weight: 900;
    cursor: pointer;
    color: var(--accent-color);
    display: flex;
    align-items: center;
}

a.url-shortcut:hover {
background: #ff002f;
    background: radial-gradient(circle,rgba(255, 0, 47, 1) 0%, rgba(119, 170, 206, 1) 70%, rgba(200, 255, 0, 1) 89%, rgba(243, 252, 70, 1) 100%);
    background-size: 400% 400%;
    animation: slush 4s ease infinite;
    color: whitesmoke;
}

.url-shortcut img {
    height: 50px;
    margin-right: 15px;
}

.enter-url-mode {
    display: flex;
    flex-direction: row;
}

.enter-url-mode div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.enter-url-mode input {
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px;
}

.save-url-button {
    border-radius: 0;
    background-color: var(--accent-color);
    margin: 5px;
    color: var(--font-color);
}

.scribble-canvas {
    border: var(--border);
    overflow: hidden;
}

.clicker-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clicker-button {
    background-color: var(--accent-color);
    transition: 0.1s;
    font-size: 24px;
    outline: none;
    border: none;
    margin: 10px;
}

.clicker-button:hover {
    transform: translateY(-3px);
    outline: none;
    border: none;
    box-shadow: 0px 5px 5px 1px rgba(62, 58, 19, 0.347);
}

.clicker-button:active {
    animation: press 0.2s ease-in-out;
    box-shadow: 0px 2px 1px 1px rgba(62, 58, 19, 0.347);
}

@keyframes press {0% {transform: translateY(-3px);} 50% {transform: translateY(3px);} 100% {transform: translateY(0px);}}

.clicks-count {
    font-size: 24px;
}

.recipe-block {
    padding: 20px;
    overflow: auto;
}

.recipe-steps {
    margin-left: 40px;
}

.recipe-step-timer {
    width: 30px;
    height: 30px;
    background-color: #ffc400;
    border: none;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    padding: 2px;
    transition: 0.2s;
    margin: 0px 10px;
}

.recipe-step-timer:hover {
    transform: scale(1.1);
}

.recipe-step-timer:active {
    transform: scale(1);
}

.back-button {
    float: inline-start;
    transition: 0.2s;
    background-color: transparent;
}

.back-button:hover {
    transform: translate(-5px);
}

.recipe-picture {
    width: 100%;
    margin: 20px 0;
}

.roadmap-block {
    width: 100%;
    height: 100%;
}

.roadmap-item {
    display: inline-grid;
    margin: 5px;
    align-items: center;
    width: 100%;
    grid-template-columns: 30px auto;
}

.roadmap-pin {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    border: 2px solid var(--font-color);
    margin: 5px;
    cursor: pointer;
}

.roadmap-pin:hover {
    border: 2px solid var(--accent-color);
}

.roadmap-pin:hover.r-pin-checked {
    border: 2px solid var(--font-color);
}

.roadmap-pin-title {
    min-height: 40px;
    outline: none;
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 10px;
}

.r-pin-checked {
    background-color: var(--accent-color);
}

.add-roadmap-pin-button {
    margin: 10px;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    border: var(--border);
    border-radius: var(--content-border-radius);
}

.add-roadmap-pin-button:hover {
    background-color: var(--accent-color);

}

.roadmap-connect-line {
    display: block;
    transform: translateX(14px);
    width: 2px;
    min-height: 15px;
    height: calc(100% - 24px);
    background-color: var(--font-color);
}

.contact-devs-form {
    margin: 10px 0px;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.contact-devs-form * {
    width: 100%;
    margin: 5px;
    padding: 10px;
}

.contact-devs-letter {
    width: 100%;
}

.fill-game-menu {
    width: 100%;
    height: calc(100% - 10px);
    display: grid;
    gap: var(--windows-gap);
    grid-template-columns: 1fr 1fr;
}

.fill-game-menu-level-button {
    border: var(--border);
    margin: -1px;
    background-color: var(--accent-color);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
    border-radius: var(--content-border-radius);
}

.fill-game-menu-level-button:hover {
    transform: translate(5px, -7px);
}